<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <!-- style sheet -->
    <link type="text/css" rel="stylesheet" href="static/css/style-boogle.css">
    <link rel="icon" href="favicon.ico" sizes="16x16" type="image">
</head>

<body>
    <div class="container" id="content">
        <div class="nav-bar">
            <a href="#">Über Boogle</a>
            <a href="#"> Store</a>
            <div class="user-stuff">
                <div class="elements">
                    <img src="https://lh3.googleusercontent.com/ogw/ADea4I7iRROdr6D3Drvi3OvQGHg7fDSsiXXSv1l5TtXLJA=s64-c-mo">
                </div>
            </div>
        </div>
        <div class="logo">
            <div class="position">
                <h1>Boogle</h1>
            </div>
        </div>
        <div class="container-search">
            <div class="search">
                <form>
                 <input type="text" name="search" placeholder="search">
                 <button type="submit" name="button" class="button">Boogle Suche</button>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="location">Deutschland</div> 
        </div>
    </div>  
</body>

</html>