<!DOCTYPE html>
<html lang="de">
    <head>   
        <link rel="stylesheet" href="style-fakebook.css" media="all" title="styles">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="icon" href="favicon.ico" sizes="16x16" type="image">
        <title>Drea Lo| Fakebook</title>
    </head>
    <body>
        <header>
            <div class="fleft">
                <h1>Fakebook</h1>
            </div>
            <div class="fright">
                <form>
                    <div class="inputs">
                        <input type="email" class="inputtext" id="email" name="email" placeholder="E-Mail-Adresse oder Handynummer" data-testid="royal_email" aria-label="E-Mail-Adresse oder Handynummer">
                    </div>
                    <div class="inputs">
                        <input type="text" class="inputtext" id="#" name="password" placeholder="your password">
                    </div>
                </form>
            </div>
        </header>
        <section>
            <div class="container-stage">
                <div class="box-0">
                </div>
                <div class="box-round">
                </div>
            </div>
            <div class="clr">
            </div>
            <div class="box-1">
            <h2 class="first-line">Hello!</h2>
            <h2>I'm Anny Page</h2>
                <article>
                        Far behind the mountains of words, far from the countries of vowels and consonants, 
                        live the blind texts. They live secluded in Buchstabhausen on the coast of the semantic, 
                        a large linguistic ocean. A small stream called Duden flows through their village and 
                        supplies them with the necessary Regelialien. It is a paradisiacal land where fried 
                        sentence fragments fly into your mouth.
                        The blind texts are not even ruled by the almighty punctuation - 
                        a downright unorthographic life...
                </article>
            </div>
            <div class="container-boxes">
                <div class="box-1a">
                    <h3>Information</h3>
                        <ul>
                            <li id="name"><b>Name:</b><br>Anny Page</li>
                            <li id="work"><b>Work:</b><br>Junior Trainee Blub Web Developer</li>
                            <li id="school"><b>School:</b><br>Forest School Springfield, Nevada</li>
                        </ul>
                 </div>
                <div class="box-1a">
                    <h3>Hobbies</h3>
                        <ol>
                            <li>surfing</li>
                            <li>sleeping</li>
                            <li>chocolate</li>
                        </ol>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum nam cumque, ut nisi aperiam est porro qui</p>
                </div>
                <div class="box-1a">
                        <div class="friends-list">
                            <h3>Friends</h3>
                            <div class="some-friends">
                                <img src="https://www.pngarts.com/files/11/Avatar-PNG-Pic.png" alt="avatar01">
                                <a href="#">Susan Swan</a>
                            </div>
                            <div class="some-friends">
                                <img src="https://www.pngarts.com/files/11/Avatar-PNG-Picture.png" alt="avatar02">
                                <a href="#">Peter Pan</a>
                            </div>
                            <div class="some-friends">
                                <img src="https://www.pngarts.com/files/11/Avatar-PNG-Free-Download.png" alt="avatar03">
                                <a href="#">Darkwin Duck</a>
                            </div>
                </div>
                <div >
                            <a class="more" href="#" type="text" target="">see more friends</a>
                </div>
            </div>
            </div>
        <div class="clr">
        </div>
        <div class="box-2">
            <h4>So... are you interested? Then send me a friend request.</h4>
             <button>Add me as a friend</button>
        </div>
        </section>
                
        <footer> &copy; 2021 - fakebook drealo</footer>


    </body> 
</html>
