{% extends "base.html" %}

    {% block header %}
	<header id="main-header">
		<div class="container">
			<h1>My Website - About me</h1>
		</div>
	</header>
	{% endblock header %}

	{% block section %}
	<section id="showcase">
		<div class="container">
			<h1> Hi, my name ist Drea. Lorem ipsum dolor sit amet...tataaaa ...
			</h1>
		</div>
	</section>
	{% endblock section %}

	 {%block container %}
	<h3>Contact me</h3>
		<form method="post" action="/contact">
			<input type="text" name="contact_name" placeholder="Enter your name">
			<br>

			<input type="email" name="contact_email" placeholder="Enter E-Mail-Address">
			<br>

			<textarea name="contact_message" placeholder="Enter your message"></textarea>
			<br>

			<button type="submit" name="submit">Submit</button>
		</form>

	{% endblock container%}

