<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>Heroku Flask Web App</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	{% block header %}
	{% endblock header %}
	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/portfolio">Projects</a></li>
				<!--<li><a href="#">Contact</a></li>-->
			</ul>
		</div>
	</nav>
	{% block section %}
	{% endblock section%}
	{% block container %}
	{% endblock container %}
	<footer id="main-footer">
		<p>Copyright &copy; 2021 My Website</p>
	</footer>
</body>
</html>