<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>Heroku Flask Web App</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
     <header id="main-header">
		<div class="container">
			<h1>My Website - Portfolio</h1>
		</div>
	</header>
	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/portfolio">Projects</a></li>
				<!--<li><a href="#">Contact</a></li>-->
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>Projects</h1>

			<ul>
				{% for project in projects %}
				<li>{{project}}</li>
				{% endfor %}
			</ul>

			<ul>
				<li><a href="/portfolio/fakebook.html">My fakebook</a></li>
				<li><a href="/portfolio/boogle.html">Boogle</a></li>
			</ul>

		</section>

	</div>
	
	<footer id="main-footer">
		<p>Copyright &copy; 2021 My Website</p>
	</footer>
</body>
</html>