{% extends "base.html" %}

    {% block header %}
	<header id="main-header">
		<div class="container">
			<h1>My Website - Projects</h1>
		</div>
	</header>
	{% endblock header %}

 	{% block section %}
	<section id="showcase">
		<div class="container">
			<h1> Some projects are smooth and easy to manage, and others are a complete nightmare...
			</h1>
		</div>
	</section>
	{% endblock section %}

	{% block container %}
	<div class="container">
		<section id="main">
			<h1>Projects</h1>

			<ul>
				{% for project in projects %}
				<li>{{project}}</li>
				{% endfor %}
			</ul>

			<ul>
				<li><a href="/portfolio/fakebook">My fakebook</a></li>
				<li><a href="/portfolio/boogle">Boogle</a></li>
			</ul>

		</section>
	</div>
	{% endblock container %}